body {
   background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
}



h1 {
    text-align: center;
 }

 p {
     text-align: center;
 }

 h2 {
     text-align: center;
 }